.historyfinder {
    display: flex;
    flex-direction: column;
  }
  
  .day {
    background:orange;
    color: rgb(204, 204, 204);
    list-style: none;
    padding: 15px 25px;
  }
  
  html, body, .background {
    height: 100%;
  }

  .dayforec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .lookForCity{
    text-align: center;
    color: rgb(129, 179, 255);
    background-color: rgba(0,0,0, 0.4);
    padding: 5%;
    margin: 1%;
    backdrop-filter: blur(5px);
    border: 5px solid rgb(129, 179, 255);
    font-weight: bold;
    border-radius: 20px;
    }

  .todayweather ul {
    text-align: center;
    list-style: none;
    border: 2px solid;
    padding: 20px;
    margin: 20px;
  }
  
  header {
    background: #010307;
    color: rgb(238, 238, 238);
    padding: 10px;
    margin-bottom: 10px;
  }
 

  /* responsiveness for large and small screens */
  @media screen and (max-width: 1180px) {
    .dayforec {
      flex-direction: column;
    }
    }
  
  @media screen and (max-width: 576px) {
    .row.todayweather {
      margin: 20px 0;
    }
    .todaysweatherforc ul {
      margin: 10px 0;
    }
  }